In [1]:
#probelm is based on HR domain 
#importing the library and pandas  library is analysis and manipulation
import pandas as pd

In [2]:
dataset=pd.read_csv("Salary_Data.csv")

In [3]:
dataset

   YearsExperience  salary
0                1   22000
1                2   26000
2                3   28000
3                4   34000
4                5   37000
5                6   47000
6                7   58000
7                8   60000
8                9   80000
9               10  100000

In [4]:
independent=dataset[["YearsExperience"]] #input
independent

   YearsExperience
0                1
1                2
2                3
3                4
4                5
5                6
6                7
7                8
8                9
9               10

In [5]:
dependent=dataset[["salary"]]#output
dependent

   salary
0   22000
1   26000
2   28000
3   34000
4   37000
5   47000
6   58000
7   60000
8   80000
9  100000

In [6]:
from sklearn.model_selection import train_test_split
train_test_split(independent, dependent, test_size=0.30,random_state=0)

[   YearsExperience
 9               10
 1                2
 6                7
 7                8
 3                4
 0                1
 5                6,
    YearsExperience
 2                3
 8                9
 4                5,
    salary
 9  100000
 1   26000
 6   58000
 7   60000
 3   34000
 0   22000
 5   47000,
    salary
 2   28000
 8   80000
 4   37000]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [8]:
from sklearn.linear_model import LinearRegression # sklearn is the library to perform the model creation regression classification and clustering 
regressor=LinearRegression() 
regressor.fit(X_train,y_train) # input and output

LinearRegression()

In [9]:
weight=regressor.coef_
weight # forumal

array([[7757.84753363]])

In [10]:
bais=regressor.intercept_
bais

array([7457.39910314])

In [11]:
y_pred=regressor.predict(X_test)

In [12]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score # to evalute

0.9350232164243015

In [13]:
import pickle
filename="finalized_model_linear.sav"

In [14]:

pickle.dump(regressor,open(filename,'wb'))

In [20]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[13]])

C:\Users\premchandar\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [21]:
result

array([[108309.41704036]])